:root {
    --cor01: #64CCC5;
    --cor02: #0C0C0C;
    --cor03: #121212;
    --cor04: #FFFFFF;
    --cor05: #F4F4F4;
    --cor05: #DFDFDF;
    --font-heading: "Roboto";
    --font-body: "DM Sans";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

/* TIPOGRAFIA */
h1 {
    font-family: var(--font-heading);
    font-size: 80px;
}

h2 {
    font-family: var(--font-heading);
    font-size: 77px;
}

h3 {
    font-family: var(--font-heading);
    font-size: 64px;
}

h4 {
    font-family: var(--font-heading);
    font-size: 45px;
}

h5 {
    font-family: var(--font-heading);
    font-size: 30px;
}

h6 {
    font-family: var(--font-heading);
    font-size: 20px;
}

p {
    font-family: var(--font-body);
    font-size: 16px;
}

.btn-light {
    background: var(--cor05);
    color: var(--cor03);
    display: inline-block;
    position: relative;
    top: 4px;
    padding: 6px 8px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
}

/* ESTILIZAÇÃO GERAL */
/* === HEADER === */
header {
    background-color: var(--cor02);
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

header div.logo a {
    text-decoration: none;
    color: var(--cor04);
}

header div.logo a img {
    width: 40px;
    height: 40px;
}

header div.logo a h4 {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: -8px;
}

header div.menu {
    position: relative;
    top: 10px;
}

header div.menu ul li {
    display: inline-block;
}

header div.menu ul li a {
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 18px;
    font-weight: 300;
    color: var(--cor04);
    padding: 0 10px;
}

header div.btn {
    font-family: var(--font-body);
}

/* === HERO === */
section.hero {
    background: var(--cor02);
}
section div.ornament {
    position: absolute;
    top: 100px;
    height: 192px;
}

section div.title div.text {
    color: var(--cor04);
    width: 550px;
    padding-top: 80px;
}

section div.title h2 {
    font-size: 64px;
    font-weight: 600;
}

section div.title h2 span {
    color: var(--cor01);
}

section div.title p {
    font-size: 18px;
    font-weight: 300;
    font-family: var(--font-body);
    line-height: 30px;
}

section div.title div.destaque {
    margin-top: 100px;
}

section div.title div.destaque h5 {
    color: var(--cor01);
    font-family: var(--font-body);
    font-weight: 300;
    font-size: 25px;
}

section div.title div.destaque ul {
    list-style-type: none;
}

section div.title div.destaque ul li {
    display: inline-block;
    margin-right: 20px;
}

div.destaque ul li img {
    width: 120px;
}

section div.image img {
    position: absolute;
    max-width: 850px;
    top: 0px;
    right: 100px;
}
/* === SERVICES === */
section.services {
    margin: 50px 0;
}

section.services div.chamada {
    text-align: center;
}

section.services div.chamada h4{
    color: var(--cor01);
    font-weight: 400;
    font-size: 35px;
    font-family: var(--font-heading);
}

section.services div.titulo {
    text-align: center;
    width: 700px;
    margin: 0 auto
}

section.services div.titulo h2 {
    color: var(--cor02);
    font-weight: 600;
    font-size: 64px;
    font-family: var(--font-heading);
    margin-bottom: 30px;
}

div.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

div.card-single {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
    background: var(--cor05);
}

div.card-single.selected {
    background: var(--cor03);
}

div.icon i {
    color: var(--cor04);    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

div.card-single.selected div.icon i {
    color: var(--cor03);
}

div.icon {
    width: 80px;
    height: 80px;
    background: var(--cor02);
    border-radius: 50%;
    margin-bottom: 50px;
}

div.card-single.selected div.icon {
    background: var(--cor04);
}

div.card-text h6 {
    color: var(--cor02);
    margin-bottom: 8px;
    font-size: 20px;
}

div.card-single.selected div.card-text h6 {
    color: var(--cor04);
}

div.card-text p {
    color: var(--cor02);
    font-size: 15px;
}

div.card-single.selected div.card-text p {
    color: var(--cor04);
}
/* === ABOUT === */
section.about {
    background: var(--cor03);
}

section.about div.container {
    display: flex;
}

section.about div.about-img img{
    width: 100%;
    max-width: 750px;
}